.gitignore
.DS_Store
.envrc
.pnpm-store
node_modules
cache
dist

.screenshots/zammad-stack/zammad-docker-compose
.screenshots/cypress/downloads
src/public/screenshots/cypress

# Vale sync cache (created by `vale sync` if packages are added later).
.vale/styles/config
