describe('testing screenshots', () => {
  it('full page screenshot', () => {
    cy.visit('/desktop/login')

    cy.get('main').should('exist')

    cy.screenshot('test-screenshot-full-page')
  })

  it('page element screenshot', () => {
    cy.visit('/desktop/login')

    cy.get('main').screenshot('test-screenshot-page-element', {
      blackout: [
        'h1', // redact heading
      ],
    })
  })

  it('highlight link issue button', () => {
    cy.env(['AGENT1_LOGIN', 'AGENT1_PASS']).then(({ AGENT1_LOGIN, AGENT1_PASS }) => {
      cy.loginDesktopView(AGENT1_LOGIN, AGENT1_PASS)
    })
    cy.visit('/desktop/tickets/create')
    cy.wait(2000)
    cy.get('button').contains('Link Issue').parent('button').highlight()
    cy.screenshot('highlight-link-issue-button')
    cy.closeTab('Received Call')
  })
})
